<h1>HERE IS THE MENU ITEM INDEX PAGE</h1>

<ul>
  <% @menu_items.each do |item| %>
    <li>
      <h3><%= item.name %></h3>
      <p><%= item.description %></p>

      <ul>
        <li><%= item.price_in_cents %></li>
        <li><%= item.price_in_dollars %></li>
        <li><%= item.category %></li>
      </ul>

      <br/>
      Here are the ingredients to make <%= item.name %>:
      <ul>
        <% item.ingredients.each do |ingredient| %>
          <li><%= ingredient.name %></li>
        <% end %>
      </ul>
      <br/>

      <p>
        <%= link_to "Show", menu_item_path(item) %>
        <%= link_to "Destroy #{item.name}", item, method: :delete %>
      </p>
    </li>
  <% end %>
</ul>
